  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  

  
:root  {
  --background: 115 100% 95%;
  --foreground: 115 5% 0%;
  --card: 115 50% 90%;
  --card-foreground: 115 5% 10%;
  --popover: 115 100% 95%;
  --popover-foreground: 115 100% 0%;
  --primary: 115 4% 73%;
  --primary-foreground: 0 0% 0%;
  --secondary: 115 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 77 30% 85%;
  --muted-foreground: 115 5% 35%;
  --accent: 77 30% 80%;
  --accent-foreground: 115 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 115 5% 90%;
  --border: 115 30% 50%;
  --input: 115 30% 18%;
  --ring: 115 4% 73%;
  --radius: 0.5rem;
}
.dark  {
  --background: 115 50% 5%;
  --foreground: 115 5% 90%;
  --card: 115 50% 0%;
  --card-foreground: 115 5% 90%;
  --popover: 115 50% 5%;
  --popover-foreground: 115 5% 90%;
  --primary: 115 4% 73%;
  --primary-foreground: 0 0% 0%;
  --secondary: 115 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 77 30% 15%;
  --muted-foreground: 115 5% 60%;
  --accent: 77 30% 15%;
  --accent-foreground: 115 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 115 5% 90%;
  --border: 115 30% 18%;
  --input: 115 30% 18%;
  --ring: 115 4% 73%;
  --radius: 0.5rem;
}
  


  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }